Flow
[{"id":"584175f3.d812a4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4b6addde.7703cc","type":"mqtt in","z":"584175f3.d812a4","name":"","topic":"room/Temperature","qos":"2","datatype":"auto","broker":"36fb9085.9bcd4","x":130,"y":20,"wires":[["94965303.7d214"]]},{"id":"5f72b8fd.ad84c","type":"mqtt in","z":"584175f3.d812a4","name":"","topic":"room/Humidity","qos":"2","datatype":"auto","broker":"36fb9085.9bcd4","x":110,"y":120,"wires":[["cb27ac41.6c0bf"]]},{"id":"e4422bfe.293418","type":"mqtt in","z":"584175f3.d812a4","name":"","topic":"room/Volume","qos":"2","datatype":"auto","broker":"36fb9085.9bcd4","x":110,"y":240,"wires":[["6eb934d4.56f59c"]]},{"id":"673e52f.55637ac","type":"mqtt in","z":"584175f3.d812a4","name":"","topic":"room/Pressure","qos":"2","datatype":"auto","broker":"36fb9085.9bcd4","x":100,"y":360,"wires":[["70a5f69e.1e16a8"]]},{"id":"20535541.a9a6ea","type":"mqtt in","z":"584175f3.d812a4","name":"","topic":"room/Methane-cons","qos":"2","datatype":"auto","broker":"36fb9085.9bcd4","x":130,"y":460,"wires":[["aaa079fe.0cf9b"]]},{"id":"70a5f69e.1e16a8","type":"ui_text","z":"584175f3.d812a4","group":"7503f262.b55114","order":3,"width":0,"height":0,"name":"","label":"Pressure","format":"{{msg.payload}} Pa","layout":"row-spread","x":540,"y":260,"wires":[]},{"id":"6eb934d4.56f59c","type":"ui_gauge","z":"584175f3.d812a4","d":true,"name":"Volume biomass","group":"7503f262.b55114","order":2,"width":"3","height":"3","gtype":"wave","title":"Volume","label":"cm3","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":200,"wires":[]},{"id":"cb27ac41.6c0bf","type":"ui_gauge","z":"584175f3.d812a4","d":true,"name":"","group":"7503f262.b55114","order":1,"width":"3","height":"3","gtype":"donut","title":"Humidity","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":140,"wires":[]},{"id":"94965303.7d214","type":"ui_text","z":"584175f3.d812a4","group":"7503f262.b55114","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}} C","layout":"row-spread","x":540,"y":80,"wires":[]},{"id":"aaa079fe.0cf9b","type":"ui_text","z":"584175f3.d812a4","group":"7503f262.b55114","order":4,"width":0,"height":0,"name":"","label":"Methane Consentration","format":"{{msg.payload}} mol/cm3","layout":"row-spread","x":590,"y":360,"wires":[]},{"id":"ea00e8f5.dfa9a8","type":"inject","z":"584175f3.d812a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":270,"y":160,"wires":[["cb27ac41.6c0bf","2a8f1466.d001ac"]]},{"id":"80c9bb13.d03b3","type":"inject","z":"584175f3.d812a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"261","payloadType":"num","x":290,"y":260,"wires":[["6eb934d4.56f59c","82dd18a2.86ae"]]},{"id":"b892997d.beb68","type":"inject","z":"584175f3.d812a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"32","payloadType":"num","x":250,"y":60,"wires":[["94965303.7d214","b16cb78.f556bc8"]]},{"id":"d8e19b41.07a3d","type":"inject","z":"584175f3.d812a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":290,"y":360,"wires":[["70a5f69e.1e16a8","f6249bda.518758"]]},{"id":"93280fd6.0edea8","type":"inject","z":"584175f3.d812a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"300","payloadType":"num","x":370,"y":460,"wires":[["aaa079fe.0cf9b","b50e72c5.0fd75"]]},{"id":"2a8f1466.d001ac","type":"ui_text","z":"584175f3.d812a4","group":"7503f262.b55114","order":5,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":700,"y":160,"wires":[]},{"id":"82dd18a2.86ae","type":"ui_text","z":"584175f3.d812a4","group":"7503f262.b55114","order":6,"width":0,"height":0,"name":"","label":"Volume ","format":"{{msg.payload}} m3","layout":"row-spread","x":720,"y":220,"wires":[]},{"id":"b16cb78.f556bc8","type":"ui_gauge","z":"584175f3.d812a4","d":true,"name":"","group":"7503f262.b55114","order":7,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":40,"wires":[]},{"id":"f6249bda.518758","type":"ui_gauge","z":"584175f3.d812a4","d":true,"name":"","group":"7503f262.b55114","order":8,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"Pa","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":300,"wires":[]},{"id":"b50e72c5.0fd75","type":"ui_gauge","z":"584175f3.d812a4","d":true,"name":"","group":"7503f262.b55114","order":9,"width":0,"height":0,"gtype":"gage","title":"Methane Consentration","label":"mol/cm3","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":420,"wires":[]},{"id":"36fb9085.9bcd4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7503f262.b55114","type":"ui_group","name":"Default","tab":"5ea8a1d4.b7162","order":1,"disp":false,"width":"6","collapse":false},{"id":"5ea8a1d4.b7162","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
